@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/*vars*/
/*global*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  background-color: #ff4e50;
  border-radius: 40px;
  border: 2px solid #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: #ff4e50;
  border: 2px solid #ff4e50;
}

.btn--$color-light {
  color: #ff4e50;
  background-color: #fff;
  border: 2px solid #ff4e50;
  margin-top: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--$color-light:hover {
  color: #fff;
  background-color: #ff4e50;
}

.title-wrap {
  text-align: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  margin-top: 100px;
  margin-bottom: 35px;
}

.global__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p--grey {
  color: #666666;
}

.second-logo {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.anim-show {
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.anim-show.active {
  opacity: 1;
}

.active .anim-show {
  opacity: 1;
}

.activity__list.active .activity__item:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.activity__list.active .activity__item:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.activity__list.active .activity__item:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.activity__list.active .activity__item:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.activity__list.active .activity__item:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.activity__list.active .activity__item:nth-child(6) {
  -webkit-transition: all 0.8s ease 1.2s;
  transition: all 0.8s ease 1.2s;
}

.activity__list.active .activity__item:nth-child(7) {
  -webkit-transition: all 0.8s ease 1.4s;
  transition: all 0.8s ease 1.4s;
}

.work__list.active .work__item:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.work__list.active .work__item:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.work__list.active .work__item:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header.fixed {
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(255, 78, 80, 0.5);
}

.header__wrap {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__item:hover {
  background: rgba(255, 255, 255, 0.7);
}

.header__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link:hover {
  color: #ff4800;
}

.header__link::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 40px;
  top: -10px;
  left: -20px;
  right: -20px;
  bottom: -10px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.item--border {
  border: 2px solid #fff;
}

/* baner */
.baner__bg {
  position: relative;
  min-height: 100vh;
  padding: 110px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner__content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0 200px;
  margin: 0 auto;
}

.baner__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #fff;
  margin: 30px 0;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.baner__title.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.baner__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #F7F3F2;
  margin: 30px 0;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.baner__subtitle.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.baner__overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* work */
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.work__list.active .work__item {
  opacity: 1;
}

.work__item {
  width: calc(100% / 3 - 20px);
  height: 400px;
  margin: 10px;
  border-radius: 4px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.work__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.button-step {
  background: #ff4e50;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
}

/* partners */
.partners__wrap {
  text-align: center;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.partners__item {
  width: calc(100% / 4 - 20px);
  margin: 10px;
}

.partners__item.active .partners__img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.partners__name {
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partners__img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.partners__icon-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.partners__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.partners__item.active .partners__name,
.partners__item.active .global__paragraph {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.icon-bg--red {
  background: #ff4e50;
}

.icon-bg--sky {
  background: #19D4CA;
}

.icon-bg--orange {
  background: #FFA710;
}

.icon-bg--blue {
  background: #667DF3;
}

/* activity */
.activity__list {
  position: relative;
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.activity__list.active .activity__item {
  opacity: 1;
}

.activity__item {
  position: relative;
  z-index: 5;
  min-height: 310px;
  margin: 10px;
  padding: 30px;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.activity__item:hover .activity__overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.activity__item:hover .activity__img-wrap {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.activity__overlay {
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.activity__img-wrap {
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.activity__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}

.w1-3 {
  width: calc(100% / 3 - 20px);
}

.w2-3 {
  width: calc(100% *2 / 3 - 20px);
}

/* register */
.register__wrap {
  text-align: center;
}

.register__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
  margin: 15px 0;
}

.register input {
  background: #fff;
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  padding: 10px 150px 10px 10px;
  margin: 0 10px;
  margin-bottom: 10px;
}

.register input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.register input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.register input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.register input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

/* hr */
.hr {
  height: 2px;
  background: #ff4e50;
  margin-top: 90px;
}

/* footer */
.footer__wrap {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo a {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ff4e50;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #4e4e4e;
}

.footer__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.footer__img {
  text-align: end;
}

.footer__copyright {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #CCCCCC;
}

@media screen and (max-width: 767px) {
  .partners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__item {
    width: calc(100% / 2 - 20px);
  }
  .title {
    font-size: 22px;
    line-height: 27px;
  }
  .baner__content {
    padding: 0 100px;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__item {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .partners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__item {
    width: calc(100% - 20px);
  }
  .title {
    font-size: 22px;
    line-height: 27px;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__item {
    width: calc(100% - 20px);
    height: 240px;
  }
  .activity__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activity__item {
    width: calc(100% - 20px);
    min-height: 120px;
  }
  .register__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    text-align: center;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__link {
    margin: 20px;
    text-align: center;
  }
  .footer__company {
    text-align: center;
  }
  .second-logo {
    display: block;
  }
  .header__nav {
    margin: 0 auto;
  }
  .header__logo {
    display: none;
  }
  .baner__title {
    font-size: 30px;
    line-height: 37px;
  }
  .baner__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .baner__content {
    padding: 0 60px;
  }
}
/*# sourceMappingURL=styles.css.map */